<div style="background: rgb(1, 180, 138)">
    <div style="float: left;height: 50px;line-height: 50px;">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div style="text-align: center;height: 50px;line-height: 50px;color: #fff;font-size: 16px">
        编辑简历
        <span ng-click="back()" style="float:right;height: 50px;line-height: 50px;padding-right: 10px" class="glyphicon glyphicon-home"></span>
    </div>
</div>
<button ng-click="test()">点我</button>